html,
body {

  font-family: 'Playfair Display', serif;

  background: linear-gradient(270deg, #201f1f, #272522, #3f3935);
  background-size: 600% 600%;
  
  animation: Gradient 20s ease infinite;

}
  

@keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
  
  header, footer {
    padding: 0.5rem;
    
  }
  

  